---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: thanos

resources:
  - ../../base
  - query-ingress.yaml

components:
  - ../../components/thanos-query

patches:
  - target:
      name: thanos-query
      kind: Deployment
    path: query.yaml
