---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - target:
      kind: Deployment
      name: uptime-kuma
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: uptime-kuma
      spec:
        template:
          spec:
            containers:
              - name: uptime-kuma
                env:
                  - name: NODE_EXTRA_CA_CERTS
                    value: /certs/ca.crt
                volumeMounts:
                  - name: certs
                    mountPath: /certs
            volumes:
              - name: certs
                configMap:
                  name: freeipa-bundle
