---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - storageclass.yaml

patches:
  - target:
      kind: DaemonSet
      name: openebs-lvm-node
      namespace: kube-system
    patch: |-
      apiVersion: apps/v1
      kind: DaemonSet
      metadata:
        name: openebs-lvm-node
        namespace: kube-system
      spec:
        template:
          spec:
            containers:
              - name: openebs-lvm-plugin
                env:
                  - name: ALLOWED_TOPOLOGIES
                    value: 'openebs.io/lvmvg'

            nodeSelector:
              storageType: fast
