---
apiVersion: builtin
kind: HelmChartInflationGenerator
metadata:
  name: harbor-chart
valuesInline:

  expose:
    type: ingress
    tls:
      enabled: true
      certSource: secret
      secret:
        secretName: harbor-tls
    ingress:
      hosts:
        core: harbor.example.com
      controller: default
      annotations:
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
        nginx.ingress.kubernetes.io/proxy-body-size: "0"
