---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
spec:
  template:
    spec:
      containers:
        - name: external-dns
          ports:
            - name: http
              containerPort: 7979
              protocol: TCP
