---
apiVersion: builtin
kind: HelmChartInflationGenerator
metadata:
  name: vault-secrets-operator-chart
valuesInline:
  # Top level configuration for the vault secrets operator deployment.
  # This consists of a controller and a kube rbac proxy container.
  controller:
    # Settings related to the vault-secrets-operator container.
    manager:
      # Configures the client cache which is used by the controller to cache (and potentially persist) vault tokens that
      # are the result of using the VaultAuthMethod. This enables re-use of Vault Tokens
      # throughout their TTLs as well as the ability to renew.
      # Persistence is only useful in the context of Dynamic Secrets, so "none" is an okay default.
      clientCache:
        # Defines the `-client-cache-persistence-model` which caches+persists vault tokens.
        # Valid values are:
        # "none" - in-memory client cache is used, no tokens are persisted.
        # "direct-unencrypted" - in-memory client cache is persisted, unencrypted. This is NOT recommended for any production workload.
        # "direct-encrypted" - in-memory client cache is persisted encrypted using the Vault Transit engine.
        # Note: It is strongly encouraged to not use the setting of "direct-unencrypted" in
        # production due to the potential of vault tokens being leaked as they would then be stored
        # in clear text.
        #
        # default: "none"
        # @type: string
        persistenceModel: "direct-encrypted"
        # StorageEncryption provides the necessary configuration to encrypt the client storage
        # cache within Kubernetes objects using (required) Vault Transit Engine.
        # This should only be configured when client cache persistence with encryption is enabled and
        # will deploy an additional VaultAuthMethod to be used by the Vault Transit Engine.
        # E.g. when `controller.manager.clientCache.persistenceModel=direct-encrypted`
        # Supported Vault authentication methods for the Transit Auth method are: jwt, appRole,
        # aws, and kubernetes.
        # Typically, there should only ever be one VaultAuth configured with
        # StorageEncryption in the Cluster.
        storageEncryption:
          # toggles the deployment of the Transit VaultAuthMethod CR.
          # @type: boolean
          enabled: true
                  # Vault Connection Ref to be used by the Transit VaultAuthMethod.
          # Default setting will use the default VaultConnectionRef, which must also be configured.
          # @type: string
          vaultConnectionRef: default

          # KeyName to use for encrypt/decrypt operations via Vault Transit.
          # @type: string
          keyName: ""

          # Mount path for the Transit VaultAuthMethod.
          # @type: string
          transitMount: ""

          # Vault namespace for the Transit VaultAuthMethod CR.
          # @type: string
          namespace: ""

          # Vault Auth method to be used with the Transit VaultAuthMethod CR.
          # @type: string
          method: kubernetes

          # Mount path for the Transit VaultAuthMethod.
          # @type: string
          mount: kubernetes

          # Vault Kubernetes auth method specific configuration
          kubernetes:
            # Vault Auth Role to use
            # This is a required field and must be setup in Vault prior to deploying the helm chart
            # if `defaultAuthMethod.enabled=true`
            # @type: string
            role: ""

            # Kubernetes ServiceAccount associated with the Transit Vault Auth Role
            # Defaults to using the Operator's service-account.
            # @type: string
            serviceAccount:

            # Token Audience should match the audience of the vault kubernetes auth role.
            # @type: array<string>
            tokenAudiences: []
