---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - service.yaml
  - deployment.yaml
  - ingress.yaml
  - pvc.yaml

labels:
  - pairs:
      app.kubernetes.io/instance: gotify
      app.kubernetes.io/name: gotify
    includeSelectors: true
    includeTemplates: true

images:
  - name: docker.io/gotify/server
    newTag: 2.7.3
