---
apiVersion: builtin
kind: HelmChartInflationGenerator
metadata:
  name: cilium-chart
valuesInline:

  # Configure BGP
  bgp:
    # -- Enable BGP support inside Cilium; embeds a new ConfigMap for BGP inside
    # cilium-agent and cilium-operator
    enabled: true
    announce:
      # -- Enable allocation and announcement of service LoadBalancer IPs
      loadbalancerIP: true
      # -- Enable announcement of node pod CIDR
      podCIDR: false
