---
apiVersion: builtin
kind: HelmChartInflationGenerator
metadata:
  name: kube-prometheus-chart
valuesInline:

  ## Manages Prometheus and Alertmanager components
  ##
  prometheusOperator:
    enabled: true
