---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cnpg-system

resources:
  - ../../base

components:
  - ../../components/metrics
  - ../../components/plugin-barman-cloud
