---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - awx.yaml
  - cnpg
  - externalsecret.yaml
  - pushsecret.yaml

components:
  - ../../components/metrics
