---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../thanos-query

nameSuffix: -tls

commonLabels:
  app.kubernetes.io/instance: thanos-query-tls
  app.kubernetes.io/name: thanos-query-tls

patches:
  - target:
      name: thanos-query-tls
      kind: Deployment
    patch: |-
      - op: add
        path: "/spec/template/spec/containers/0/args/-"
        value: --grpc-client-tls-secure
      - op: add
        path: "/spec/template/spec/containers/0/args/-"
        value: --grpc-client-tls-skip-verify
