---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - service.yaml
  - deployment.yaml
  - ingress.yaml
  - pvc.yaml

labels:
  - pairs:
      app.kubernetes.io/name: paperless-ngx
      app.kubernetes.io/instance: paperless-ngx
      app.kubernetes.io/component: paperless-ngx
      app.kubernetes.io/part-of: paperless-ngx
    includeSelectors: true
    includeTemplates: true

images:
  - name: ghcr.io/paperless-ngx/paperless-ngx
    newTag: 2.20.1

replacements:
  - path: replacement.yaml
