---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: redis

resources:
  - ../../base

patches:
  - target:
      kind: PersistentVolumeClaim
      name: redis-data
    patch: |-
      - op: replace
        path: "/spec/accessModes/0"
        value: ReadWriteOnce
      - op: replace
        path: "/spec/resources/requests/storage"
        value: 1Gi
      - op: add
        path: "/spec/storageClassName"
        value: longhorn
