---
apiVersion: builtin
kind: HelmChartInflationGenerator
metadata:
  name: vault-secrets-operator-chart
valuesInline:
  # components/storage-encryption
  controller:
    manager:
      clientCache:
        storageEncryption:
          keyName: vso-client-cache
          transitMount: vso-transit
          mount: k8s/ops-prod
          vaultConnectionRef: default
          kubernetes:
            role: vault-secrets-operator
            serviceAccount: vault-secrets-operator-controller-manager
            tokenAudiences:
              - vault

  # components/kubernetes-auth
  defaultAuthMethod:
    mount: k8s/ops-prod
    kubernetes:
      role: vault-secrets-operator
      serviceAccount: vault-secrets-operator-controller-manager
      tokenAudiences:
        - vault

  # components/default-vault-connection
  defaultVaultConnection:
    address: "https://vault.k8s.example.com"
    caCertSecret: "ca-bundle"
