---
apiVersion: builtin
kind: HelmChartInflationGenerator
metadata:
  name: kube-prometheus-chart
name: kube-prometheus-stack
repo: https://prometheus-community.github.io/helm-charts
version: 80.2.0
releaseName: kube-prometheus
namespace: monitoring
includeCRDs: true
valuesInline:
  namespaceOverride: monitoring
  cleanPrometheusOperatorObjectNames: true
  alertmanager:
    enabled: false
  grafana:
    enabled: false
  kubeApiServer:
    enabled: false
  kubelet:
    enabled: false
  kubeControllerManager:
     enabled: false
  coreDns:
    enabled: false
  kubeDns:
    enabled: false
  kubeEtcd:
    enabled: false
  kubeScheduler:
    enabled: false
  kubeProxy:
    enabled: false
  kubeStateMetrics:
    enabled: false
  nodeExporter:
    enabled: false
  prometheusOperator:
    enabled: false
  prometheus:
    enabled: false
  thanosRuler:
    enabled: false
