---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
spec:
  template:
    spec:
      containers:
        - name: cloudflared
          ports:
            - name: http-metrics
              containerPort: 2000
              protocol: TCP
