---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - https://raw.githubusercontent.com/cloudnative-pg/cloudnative-pg/v1.27.1/docs/src/samples/monitoring/prometheusrule.yaml
  - https://raw.githubusercontent.com/cloudnative-pg/cloudnative-pg/v1.27.1/docs/src/samples/monitoring/podmonitor.yaml
