---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-dns

resources:
  - ../../base

components:
  - ../../components/rfc2136
  - ../../components/metrics

configMapGenerator:
  - name: external-dns-config
    envs:
      - config.env

secretGenerator:
  - name: external-dns-secret
    envs:
      - secrets/tsig.env
    options:
      annotations:
        avp.kubernetes.io/path: "internal/data/k8s/oci-oke-prod/external-dns"
