---
apiVersion: builtin
kind: HelmChartInflationGenerator
metadata:
  name: gitlab-runner-chart
valuesInline:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  service:
    enabled: true
