---
apiVersion: builtin
kind: HelmChartInflationGenerator
metadata:
  name: kube-prometheus-chart
valuesInline:

  ## Component scraping coreDns. Use either this or kubeDns
  ##
  coreDns:
    enabled: true
