---
apiVersion: builtin
kind: HelmChartInflationGenerator
metadata:
  name: kube-prometheus-chart
valuesInline:

  ## Deploy node exporter as a daemonset to all nodes
  ##
  nodeExporter:
    enabled: true
