---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - target:
      name: .*
      kind: Ingress
    patch: |-
      - op: add
        path: "/metadata/annotations/nginx.ingress.kubernetes.io~1auth-url"
        value: https://oauth.k8s.example.com/oauth2/auth
      - op: add
        path: "/metadata/annotations/nginx.ingress.kubernetes.io~1auth-signin"
        value: https://oauth.k8s.example.com/oauth2/start?rd=$scheme://$http_host$request_uri
      # - op: add
      #   path: "/metadata/annotations/nginx.ingress.kubernetes.io~1auth-signin"
      #   value: https://oauth.k8s.example.com/oauth2/start?rd=$scheme://$best_http_host$request_uri
      # - op: add
      #   path: "/metadata/annotations/nginx.ingress.kubernetes.io~1auth-response-headers"
      #   value: "x-auth-request-user, x-auth-request-email, x-auth-request-access-token"
      # - op: add
      #   path: "/metadata/annotations/nginx.ingress.kubernetes.io~1configuration-snippet"
      #   value:
      #     auth_request_set $name_upstream_1 $upstream_cookie__oauth2_proxy_1;

      #     access_by_lua_block {
      #       if ngx.var.name_upstream_1 ~= "" then
      #         ngx.header["Set-Cookie"] = "_oauth2_proxy_1=" .. ngx.var.name_upstream_1 .. ngx.var.auth_cookie:match("(; .*)")
      #       end
      #     }
