---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - agent.yaml
  - rbac.yaml

patches:
  - target:
      name: kibana
      kind: Kibana
      namespace: elastic
    patch: |-
      - op: add
        path: "/spec/config/xpack/fleet/packages/-"
        value:
          name: kubernetes
          version: latest
      - op: add
        path: "/spec/config/xpack/fleet/packages/-"
        value:
          name: system
          version: latest
      - op: add
        path: "/spec/config/xpack/fleet/agentPolicies/-"
        value:
          name: Elastic Agent on ECK policy
          id: eck-agent
          monitoring_enabled:
            - logs
            - metrics
          unenroll_timeout: 900
          is_default: true
          package_policies:
            - package:
                name: system
              name: system-eck
            - package:
                name: kubernetes
              name: kubernetes-eck
