---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - service.yaml

patches:
  - target:
      kind: Deployment
      name: ntfy
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: ntfy
      spec:
        template:
          spec:
            containers:
              - name: ntfy
                ports:
                  - containerPort: 25
                    name: smtp
