---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-dns

resources:
  - ../../base

components:
  - ../../components/rfc2136
  - ../../components/metrics

configMapGenerator:
  - name: external-dns-config
    envs:
      - config.env

secretGenerator:
  - name: external-dns-secret
    envs:
      - secrets/tsig.env
    options:
      annotations:
        avp.kubernetes.io/path: "kv/data/kubernetes/workload-prod/external-dns"

patches:
  - target:
      kind: Deployment
      name: external-dns
    patch: |-
      - op: add
        path: "/spec/template/spec/containers/0/args/-"
        value: --rfc2136-host=$(RFC2136_HOST_2)
