---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generators:
  - ./helm

components:
  - ../../components/policies/trigger-rollout-on-dependency-update
  - ../../components/policies/trigger-externalsecret-refresh-on-pushsecret-update
