---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - service.yaml
  - deployment.yaml
  - ingress.yaml
  - pvc.yaml

commonLabels:
  app.kubernetes.io/instance: vikunja
  app.kubernetes.io/name: vikunja

images:
  - name: vikunja/api
    newTag: 0.22.1
  - name: vikunja/frontend
    newTag: 0.22.1
  - name: typesense/typesense
    newTag: 0.25.2

configMapGenerator:
  - name: vikunja-api-config
    files:
      - config.yml

secretGenerator:
  - name: vikunj-api-secret
    envs:
      - secrets/api-secret.env
  - name: vikunja-typesense-secret
    behavior: replace
    envs:
      - secrets/typesense-secret.env
