---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namePrefix: %APP%-

components:
  - ../../../../../components/cnpg-cluster

images:
  - name: ghcr.io/cloudnative-pg/postgresql
    newTag: 17.6-standard-trixie

labels:
  - pairs:
      app.kubernetes.io/instance: %APP%
      app.kubernetes.io/part-of: %APP%
    includeTemplates: false
    includeSelectors: false

replacements:
  - source:
      kind: Cluster
      name: cnpg-cluster
      fieldPath: spec.imageName
      options:
        delimiter: ':'
        index: 1
    targets:
      - select:
          kind: Cluster
        fieldPaths: &fieldPaths
          - metadata.labels.[app.kubernetes.io/version]
        options: &options
          create: true
      - select:
          kind: Secret
        fieldPaths: *fieldPaths
        options: *options
  - sourceValue: %APP%
    targets:
      - select:
          kind: Cluster
          name: cnpg-cluster
        fieldPaths:
          - spec.bootstrap.initdb.database
          - spec.bootstrap.initdb.owner
      - select:
          kind: ObjectStore
          name: cnpg-minio
        fieldPaths:
          - spec.configuration.destinationPath
        options:
          delimiter: '/'
          index: 4
      - select:
          kind: SecretStore
          name: cnpg-secretstore
        fieldPaths:
          - spec.provider.fake.data.[key=^"appName"$].value
  - sourceValue: %APP%-cnpg
    targets:
      - select:
          kind: PushSecret
          name: cnpg-pushsecret
        fieldPaths:
          - spec.data.0.match.remoteRef.remoteKey
        options:
          delimiter: '/'
          index: 2
  - sourceValue: %NAMESPACE%
    targets:
      - select:
          kind: SecretStore
          name: cnpg-secretstore
        fieldPaths:
          - spec.provider.fake.data.[key=^"namespace"$].value
  - sourceValue: %CLUSTER%
    targets:
      - select:
          kind: ObjectStore
          name: cnpg-minio
        fieldPaths:
          - spec.configuration.destinationPath
        options:
          delimiter: '/'
          index: 3
      - select:
          kind: PushSecret
          name: cnpg-pushsecret
        fieldPaths:
          - spec.data.0.match.remoteRef.remoteKey
        options:
          delimiter: '/'
          index: 1
  - sourceValue: %DATASTORAGECLASS%
    targets:
      - select:
          kind: Cluster
          name: cnpg-cluster
        fieldPaths:
          - spec.storage.storageClass
  - sourceValue: %DATASTORAGESIZE%
    targets:
      - select:
          kind: Cluster
          name: cnpg-cluster
        fieldPaths:
          - spec.storage.size
  - sourceValue: %WALSTORAGECLASS%
    targets:
      - select:
          kind: Cluster
          name: cnpg-cluster
        fieldPaths:
          - spec.walStorage.storageClass
  - sourceValue: %WALSTORAGESIZE%
    targets:
      - select:
          kind: Cluster
          name: cnpg-cluster
        fieldPaths:
          - spec.walStorage.size
