---
apiVersion: builtin
kind: HelmChartInflationGenerator
metadata:
  name: longhorn-chart
valuesInline:
  metrics:
    serviceMonitor:
      # -- Setting that allows the creation of a Prometheus ServiceMonitor resource for Longhorn Manager components.
      enabled: true
