---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - https://raw.githubusercontent.com/minio/operator/v7.0.1/examples/kustomization/base/tenant.yaml
  - https://raw.githubusercontent.com/minio/operator/v7.0.1/examples/kustomization/base/namespace.yaml
