---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - service.yaml
  - deployment.yaml
  - ingress.yaml
  - pvc.yaml

labels:
  - pairs:
      app.kubernetes.io/instance: uptime-kuma
      app.kubernetes.io/name: uptime-kuma
    includeSelectors: true
    includeTemplates: true

images:
  - name: louislam/uptime-kuma
    newTag: 2.0.2
