---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: keycloak

resources:
  - ../../base
  - certificate.yaml
  - keycloak.yaml
  - cnpg
  - externalsecret.yaml
  - pushsecret.yaml

components:
  - ../../components/metrics

replacements:
  - sourceValue: "keycloak.k8s.example.com"
    targets:
      - select:
          kind: Ingress
          name: keycloak
        fieldPaths:
          - spec.rules.0.host
        options:
          create: true

# patches:

  # - target:
  #     kind: Service
  #     name: keycloak-service
  #   patch: |-
  #     - op: add
  #       path: "/metadata/annotations/external-dns.alpha.kubernetes.io~1hostname"
  #       value: keycloak.k8s.example.com
  #     - op: replace
  #       path: "/spec/type"
  #       value: LoadBalancer
