---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - target:
      kind: Deployment
      name: reloader-reloader
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args
        value:
          - "--reload-strategy=annotations"
