---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generators:
  - ./helm

components:
  - ../../components/dashboards
  - ../../components/vso-autounseal-token

secretGenerator:
  - name: vault-secret
    envs:
      - secrets/secret.env
    options:
      disableNameSuffixHash: true

patches:
  - target:
      kind: GrafanaDashboard
      name: hashicorp-vault
    patch: |-
      - op: replace
        path: "/spec/datasources/0/datasourceName"
        value: "VictoriaMetrics"
  - target:
      kind: VaultAuth
      name: vault-oci-auth
    patch: |-
      - op: replace
        path: "/spec/mount"
        value: "k8s-ops-prod"
  - target:
      kind: VaultDynamicSecret
      name: vso-autounseal-token
    patch: |-
      - op: replace
        path: "/spec/vaultAuthRef"
        value: "vault-oci-auth"
