---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: workload-prod-generator
spec:
  goTemplate: true
  generators:
  - matrix:
      generators:
      - git:
          repoURL: https://gitlab.example.com/k8s-gitops.git
          revision: HEAD
          files:
          - path: clusters/workload-prod/config.yaml

      - list:
          elements:
            # Certificate management
          - name: cert-manager
            namespace: cert-manager
            autoSync: true
          - name: trust-manager
            namespace: cert-manager
            autoSync: true

            # Core infrastructure
          - name: cilium
            namespace: kube-system
            autoSync: false
            syncOptions:
              - ServerSideApply=true
            # annotations:
            #   argocd.argoproj.io/compare-options: ServerSideDiff=true,IncludeMutationWebhook=true
            ignoreDifferences:
              - group: ""
                kind: ConfigMap
                name: hubble-ca-cert
                jsonPointers:
                  - /data/ca.crt
              - group: ""
                kind: Secret
                name: hubble-relay-client-certs
                jsonPointers:
                  - /data/ca.crt
                  - /data/tls.crt
                  - /data/tls.key
              - group: ""
                kind: Secret
                name: hubble-server-certs
                jsonPointers:
                  - /data/ca.crt
                  - /data/tls.crt
                  - /data/tls.key
          - name: external-dns
            namespace: external-dns
            autoSync: true
          - name: ingress-nginx
            namespace: ingress-nginx
            autoSync: true
          - name: democratic-csi
            namespace: democratic-csi
            autoSync: false
          - name: external-snapshotter
            namespace: kube-system
            autoSync: true
          - name: velero
            namespace: velero
            autoSync: true
          - name: external-secrets
            namespace: external-secrets
            autoSync: true
            syncOptions:
              - ServerSideApply=true
            annotations:
              argocd.argoproj.io/compare-options: ServerSideDiff=true,IncludeMutationWebhook=true
          # - name: kyverno
          #   namespace: kyverno
          #   autoSync: true
          #   syncOptions:
          #     - ServerSideApply=true
          #   annotations:
          #     argocd.argoproj.io/compare-options: ServerSideDiff=true,IncludeMutationWebhook=true

            # Virtualization
          # - name: kubevirt
          #   namespace: kubevirt
          - name: nfd
            namespace: node-feature-discovery
            autoSync: true
          - name: intel-device-plugins
            namespace: inteldeviceplugins-system
            autoSync: true
          - name: descheduler
            namespace: kube-system
            autoSync: true

            # Services
          - name: paperless-ngx
            namespace: paperless-ngx
            autoSync: false
          - name: freshrss
            namespace: freshrss
            autoSync: true
          - name: bookstack
            namespace: bookstack
            autoSync: true
          - name: ntfy
            namespace: ntfy
            autoSync: true

            # Databases
          - name: cloudnative-pg
            namespace: cnpg-system
            autoSync: false
            syncOptions:
              - ServerSideApply=true
            annotations:
              argocd.argoproj.io/compare-options: ServerSideDiff=true,IncludeMutationWebhook=true

            # Metrics
          - name: metrics-proxy
            namespace: kube-system
            autoSync: true
          - name: vm-k8s-stack
            namespace: victoriametrics
            autoSync: false
            syncOptions:
              - ServerSideApply=true
              - RespectIgnoreDifferences=true
            ignoreDifferences:
              - group: ""
                kind: Secret
                name: vm-stack-victoria-metrics-operator-validation
                namespace: victoriametrics
                jsonPointers:
                  - /data
              - group: admissionregistration.k8s.io
                kind: ValidatingWebhookConfiguration
                name: vm-stack-victoria-metrics-operator-admission
                jqPathExpressions:
                  - '.webhooks[]?.clientConfig.caBundle'
          - name: clickstack
            namespace: clickstack
            autoSync: true
          - name: vector
            namespace: vector
            autoSync: true
          - name: uptime-kuma
            namespace: uptime-kuma
            autoSync: true

          # RBAC
          - name: rbac
            namespace: kube-system
            autoSync: true

          # CICD
          - name: gitlab-runner
            namespace: gitlab-runner
            autoSync: true

  ignoreApplicationDifferences:
    - jsonPointers:
      # Allow automated sync policy to be disabled manually.
      - /spec/syncPolicy/automated
      # Allow target revision to be set manually for PR testing,
      - /spec/source/targetRevision

  template:
    metadata:
      name: "{{ .cluster.name }}-{{ .name }}"
      annotations:
        argocd.argoproj.io/manifest-generate-paths: .;../../base;../../components;../../helm
    spec:
      project: "{{ .cluster.name }}-project"
      source:
        repoURL: https://gitlab.example.com/k8s-gitops.git
        targetRevision: HEAD
        path: "apps/{{ .name }}/clusters/{{ .cluster.name }}"
        plugin:
          env:
            - name: AVP_SECRET
              value: vault-config
      destination:
        server: "{{ .cluster.address }}"
        namespace: "{{ .namespace }}"
  templatePatch: |
    {{- if .annotations }}
    metadata:
      annotations:
        {{- range $key, $value := .annotations }}
        {{ $key  }}: "{{ $value }}"
        {{- end }}
    {{- end}}
    spec:
      syncPolicy:
        {{- if .autoSync }}
        automated:
          prune: {{ default "true" .prune }}
          selfHeal: {{ default "true" .selfHeal }}
        {{- end }}
        managedNamespaceMetadata:
          labels:
            app.kubernetes.io/managed-by: argocd
        syncOptions:
          - CreateNamespace=true
        {{- range $syncOptions := .syncOptions }}
          - {{ $syncOptions }}
        {{- end }}
      {{- if .ignoreDifferences }}
      ignoreDifferences:
        {{ .ignoreDifferences | toYaml | nindent 4 }}
      {{- end }}
