---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: velero

generators:
  - ./helm

secretGenerator:
  - name: velero-credentials
    files:
      - cloud=secrets/velero-credentials
    options:
      disableNameSuffixHash: true
      annotations:
        avp.kubernetes.io/path: "internal/data/k8s/ops-prod/velero"

patches:
  - target:
      kind: BackupStorageLocation
      name: default
    patch: |-
      - op: replace
        path: "/spec/objectStorage/prefix"
        value: ops-prod
