---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - pvc.yaml
  - ingress.yaml

labels:
  - pairs:
      app.kubernetes.io/instance: ntfy
      app.kubernetes.io/name: ntfy
    includeSelectors: true
    includeTemplates: true

images:
  - name: binwiederhier/ntfy
    newTag: v2.11.0
