---
apiVersion: builtin
kind: HelmChartInflationGenerator
metadata:
  name: ingress-nginx-chart
valuesInline:
  controller:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
