---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - agent.yaml
  # - service.yaml

patches:
  - target:
      name: kibana
      kind: Kibana
      namespace: elastic
    patch: |-
      - op: add
        path: "/spec/config/xpack/fleet/agentPolicies/-"
        value:
          name: Uptime Agent policy
          id: uptime-agent
          monitoring_enabled:
            - logs
            - metrics
          unenroll_timeout: 900
          package_policies: []
